/* this removes bullet points */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(202, 234, 252);
    font-family: "Poppins", serif;
    
}

.header {
    display: flex;
    position: fixed;
    width: 100%;
}

.heading {
    font-weight: 400;
}

.header a {
    border-width: 10px;
    flex-grow: 1;
    background-image: linear-gradient(to right, rgb(97, 101, 141) , rgb(82, 97, 128));
    text-align: center;
    padding: 20px;
    font-size: 30px;
    color: white;
    font-weight: 500;
    font-family: "Poppins", serif;
}

.header a:hover {
    background-image: linear-gradient(to right, rgb(76, 80, 133) , rgb(59, 81, 124));
}

a {
    text-decoration: none;
    color: rgb(255, 252, 252);
}

p {
    background-color: rgba(247, 247, 247, 0.87);
    padding: 25px;
    font-size: 22px;
    width: 100%;
}

ul {
    background-color: white;
    padding: 25px;
    font-size: 22px;
    width: 100%;
}

.about {
    display: flex;
    flex-direction: column;
}

.about h1 {
    margin-top: 100px;
    font-size: 40px;
    text-align: center;
    color: black;
    border-bottom: 2px rgb(170, 217, 245) solid;
}

.about img {
    height: 300px;
    width: 300px;
    align-self: center;
    border-radius: 200px;
    margin: 25px;
    border-color: rgb(170, 217, 245);
}

.about p {
    padding-left: 200px;
    padding-right: 200px;
}

.skills_list {
    display: flex;
}

.skills h1 {
    padding-top: 20px;
    font-size: 40px;
    text-align: center;
    border-bottom: 2px rgb(228, 226, 226) solid;
    background-color: white;
}

.skills .outermost {
    padding-left: 200px;
    padding-right: 200px;
}

.skills_type {
    border-bottom: black solid 1px;
}

.skills ul li {
    margin-left: 20px;
}

.skills ul li ul{
    padding-top: 0px;
}


.technology {
    display: flex;
    gap: 100px;
}

img {
    height: 500px;
    width: auto;
    border-radius: 15px;
    border: 2px black solid;
}
.projects h1 {
    background-color: rgba(240, 240, 240, 0.87);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 8px;
    font-size: 40px;
    border-bottom: 2px rgb(197, 197, 197) solid;
}
.projects .layout {
    display: grid;
    grid-template-columns: 500px 500px 500px;
    grid-template-rows: 500px 500px;
    gap: 150px;
    justify-content: center;
    padding: 50px 80px 80px 80px;
    background-color: rgba(240, 240, 240, 0.87);
}

.projects .project {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
}

.projects .description {
    background-color: rgb(123, 162, 221);
    color: rgba(255, 255, 255, 0.918);
    border-radius: 12px;
    text-align: center;
    font-size: 25px;
    padding: 15px;
    font-weight: 500;
    position: relative;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 10px;
}

.projects .description span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.projects .description span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.projects .description:hover{
    background-color: rgb(99, 148, 223);
}

.projects .description:hover span {
    padding-right: 25px;
}

.projects .description:hover span:after {
    opacity: 1;
    right: 0;
}

